@import "../../../styles/base/main.scss";

.add-person {
  display: flex;
  height: 100%;
  $actionWidth: 64px;
  &.pin-table {
    // height: 65% !important;
  }

  &__capture {
    width: 40%;
    margin-right: 10px;
    border-radius: 8px;
  }
  &__action {
    height: $actionWidth;
  }
  &__fields {
    height: calc(100% - #{$actionWidth});
    &.tree {
      display: flex;
      justify-items: center;
      align-items: center;
    }
  }
  &__tree-view {
    background: url("../../../styles/images/tree.png") center no-repeat;
    height: 100%;
    width: 100%;
  }
  &__image {
    flex: 1;
    position: relative;
  }
}
